@import "../../scss/variables";

header{
  background: $primary-header;
  color: $text-primary;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  h1{
    margin: 18px 36px;
  }
  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    cursor: pointer;
    padding: 30px;
    font-size: 48px;
    border-radius: 100px;
    outline: none;
    &:hover{
      background: purple;
      transition: 0.7s;
    }
  }
}
